.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .card-text.title {
        font-weight: 500;
    }
    .card-body {
        padding-bottom: 60px;
        position: relative;
        .rightBottom {
            position: absolute;
            right: 15px;
            bottom: 15px;
        }
    }
}